# list :

<b>properties:<b>

* list is one of the predifined class and treated as list data type
* The purpose of list data type is that "To Store Multiple Values of Same Type or Different Type or Both the types in single       object with Unique and Duplicate.
* The Data in List object Stored / Organized within Square Brackets [ ] and They must be separated by Comma.
* An object of list maintains Insertion Order.
* On the object of list, we can perform Both Indexing and Slicing Operations
* An an object of List belongs to Mutable bcoz Updation done at Same Address.
* In Python Programming, we have Two Types of List objects. They are
		a) Empty List
		b) Non-Empty List

<b>a) Empty List<b>

* An Empty List is one, which does not contain any Elements and whose Length is 0 
* Syntax:         varname=[ ]
				(OR)
			varname=list()

<b>b) Non-Empty List<b>

* A Non-Empty List is one, which contains  Elements and whose Length is >0 
* Syntax:         varname=[Val1,Val2....Val-n]
				(OR)
			varname=list(object)

In [4]:
l1=[10,"python",10.2,True]
print(l1,type(l1))

[10, 'python', 10.2, True] <class 'list'>

In [5]:
l1[0]

10

In [6]:
l1[-1]

True

In [7]:
l1[::-1]

[True, 10.2, 'python', 10]

In [8]:
l1[1:5]

['python', 10.2, True]

In [10]:
l1[0]=100 # Updating Single value of List with Indexing
l1

[100, 'python', 10.2, True]

In [11]:
l1[3:5]=["Dsc",1.2]  # Updating Multiple value of List with Slicing
print(l1,type(l1),id(l1))

[100, 'python', 10.2, 'Dsc', 1.2] <class 'list'> 2245250353344

In [12]:
l1[::]=[1000,"VINAY","IMPO",0.0,"NOColl"]
print(l1,type(l1),id(l1))

[1000, 'VINAY', 'IMPO', 0.0, 'NOColl'] <class 'list'> 2245250353344

In [13]:
l1

[1000, 'VINAY', 'IMPO', 0.0, 'NOColl']

In [14]:
len(l1)

5

In [15]:
l2=[]
print(l2,type(l2))

[] <class 'list'>

In [16]:
l3=list()
print(l3,type(l3))

[] <class 'list'>

In [17]:
s="python"
print(s)

python

In [18]:
l1=list(s)
print(l1,type(l1))

['p', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [20]:
l2=list([s])
print(l2,type(l2))

['python'] <class 'list'>

* We know that on the object of List , we can perform Both Indexing and Slicing Operations.
* Along with Indexing and Slicing Operations, we can also Perform Various Operations by using Pre-defined Functions present in list object. They are

**1. append()**
* syntax:listobj.append(value)
* This function is used for appending (adding at end) single values to list.

In [28]:
a1=[10,'pavan']
print(a1,type(a1))

[10, 'pavan'] <class 'list'>

In [29]:
a1.append(20)
a1

[10, 'pavan', 20]

In [30]:
a=[]
print(a,type(a))

[] <class 'list'>

In [31]:
a.append(10,30)
a

TypeError: list.append() takes exactly one argument (2 given)

**2.insert()**

Syntax:-   listobj.insert(index,Value)
* Here Index Represents Either +ve or -ve
* Here Value can be One or More(list)
* This Function is used for adding The value to the list at Specified Valid Index.
* If the Index Value is not existing at +Ve Side then the value Inserted at END/Last
* If the Index Value is not existing at -Ve Side then the value Inserted at BEGIN / First

In [33]:
l=[10,'python',True,5+6j]
print(l,type(l),id(l))

[10, 'python', True, (5+6j)] <class 'list'> 2245251508992

In [34]:
l.insert(1,'innomatics')
print(l,type(l),id(l))

[10, 'innomatics', 'python', True, (5+6j)] <class 'list'> 2245251508992

In [36]:
l.insert(3,2)
print(l,type(l),id(l))

[10, 'innomatics', 'python', 2, 2, True, (5+6j)] <class 'list'> 2245251508992

In [37]:
l.insert(15,45.3)
print(l,type(l),id(l))

[10, 'innomatics', 'python', 2, 2, True, (5+6j), 45.3] <class 'list'> 2245251508992

In [39]:
l.insert(-15,'nl')
print(l,type(l),id(l))

['nl', 'nl', 10, 'innomatics', 'python', 2, 2, True, (5+6j), 45.3] <class 'list'> 2245251508992

**3.clear()**

Syntax:    listobj.clear()
* This Function is used for Removing all the Values from list object
* When call this Function upon Empty List object then we never get any Result / None

In [41]:
l1=[15,'pavan',True,5.32]
print(l1,type(l1),id(l1))

[15, 'pavan', True, 5.32] <class 'list'> 2245250746816

In [42]:
l1.clear()
print(l1,type(l1),id(l1))

[] <class 'list'> 2245250746816

In [45]:
l2=[]
print(l2,type(l2),id(l2))

[] <class 'list'> 2245251506944

In [47]:
print(l2.clear())

None

In [48]:
print([].clear())

None

**4.remove()**

Syntax:-  listobj.remove(Value)
* This Function  is used for Removing First Occurence of Specified Element.
* If the Specified Elements does not exist then we get ValueError

In [49]:
l1=[10,'pavan',5.23,True]
print(l1,type(l1))

[10, 'pavan', 5.23, True] <class 'list'>

In [50]:
l1.remove(True)
print(l1,type(l1))

[10, 'pavan', 5.23] <class 'list'>

In [51]:
l1.remove(20)
print(l1,type(l1))

ValueError: list.remove(x): x not in list

In [52]:
l2=[10,20,30,40,10,50,80,10,20,30]
print(l2,type(l2))

[10, 20, 30, 40, 10, 50, 80, 10, 20, 30] <class 'list'>

In [54]:
l2.remove(10)
print(l2,type(l2))

[20, 30, 40, 50, 80, 10, 20, 30] <class 'list'>

**5.pop(index)**

Syntax:  listobj.pop(index)
* This Function is used for Removing the Elemements of List based on Index
* If the Index is Invalid then we get IndexError

In [55]:
l2=[10,20,30,40,80,20,40]
print(l2,type(l2),id(l2))

[10, 20, 30, 40, 80, 20, 40] <class 'list'> 2245249646528

In [56]:
l2.pop(2)
print(l2,type(l2),id(l2))

[10, 20, 40, 80, 20, 40] <class 'list'> 2245249646528

In [57]:
l2.pop(-1)
print(l2,type(l2),id(l2))

[10, 20, 40, 80, 20] <class 'list'> 2245249646528

In [58]:
print([].pop(2))

IndexError: pop from empty list

In [59]:
l2.pop(60)
print(l2,type(l2),id(l2))

IndexError: pop index out of range

**6.pop()**

Syntax:    listobj.pop()
* This Function is used for Removing Last Element of non-list object
* If we call pop() upon empty list object then we get IndexError.

In [60]:
l1=[10,'pavan',2.56,]
l1.pop()

2.56

In [61]:
l1.pop()

'pavan'

In [62]:
l1.pop()

10

In [63]:
l1.pop()

IndexError: pop from empty list

**7.copy()**

* This Function is used copying the content of one list object to another list object (Shallow Copy).
* Syntax:      listobj2=listobj1.copy()

In [64]:
l1=[10,'pavan']
print(l1,id(l1))

[10, 'pavan'] 2245249761792

In [65]:
l2=l1.copy()
print(l2,id(l2))

[10, 'pavan'] 2245249764480

In [66]:
l1.append(5.2)
print(l1,id(l1))

[10, 'pavan', 5.2] 2245249761792

In [67]:
print(l2,id(l2))

[10, 'pavan'] 2245249764480

In [68]:
l2.insert(2,'innomatics')
print(l2,id(l2))

[10, 'pavan', 'innomatics'] 2245249764480

In [69]:
a=[10,20,30]
print(a,type(a),id(a))

[10, 20, 30] <class 'list'> 2245249765184

In [73]:
b=a

In [74]:
print(b,type(b),id(b))

[10, 20, 30] <class 'list'> 2245249765184

In [75]:
a.append('python')
print(a,type(a),id(a))

[10, 20, 30, 'python'] <class 'list'> 2245249765184

In [76]:
print(b,type(b),id(b))

[10, 20, 30, 'python'] <class 'list'> 2245249765184

In [77]:
b.insert(2,'nl')
print(b,type(b),id(b))

[10, 20, 'nl', 30, 'python'] <class 'list'> 2245249765184

In [78]:
print(a,type(a),id(a))

[10, 20, 'nl', 30, 'python'] <class 'list'> 2245249765184

**8.index()**

Syntax:   listobj.index(Value)
* This Function is used  Finding Index of First occurence of Specified Element from non-empty list object.
* If the Specified Element does not exist then we get ValueError
* If we call this function on empty-list object then we get ValueError

In [80]:
l=[10,20,10,'pavan',50,10,30]
print(l,type(l),id(1))

[10, 20, 10, 'pavan', 50, 10, 30] <class 'list'> 2245169277232

In [81]:
l.index(10)

0

In [83]:
l.index(30)

6

In [84]:
l.index(2)

ValueError: 2 is not in list

In [87]:
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 10
3 pavan
4 50
5 10
6 30

**9.count()**

* This Function is used finding Number of Occurences of a specified Element.
*Syntax:  listobj.count(value)

In [89]:
l=[10,20,50,30,40,10,50,80,60,70,30,20,10]
print(l,type(l),id(l))

[10, 20, 50, 30, 40, 10, 50, 80, 60, 70, 30, 20, 10] <class 'list'> 2245251506688

In [90]:
l.count(10)

3

In [91]:
l.count(30)

2

In [92]:
l.count(100)

0

In [94]:
l.count('hyd')

0

**10.reverse()**

* This Function is used for reversing (Front to back and Back to Front) the elements of List object.
* Syntax:   lstobj.reverse()

In [103]:
l1=[10,'data',True,5+5j,'pavan',1.0]
print(l1,type(l1),id(l1))

[10, 'data', True, (5+5j), 'pavan', 1.0] <class 'list'> 2245251509504

In [104]:
l2=l1.reverse()
print(l2,type(l2),id(l2))

None <class 'NoneType'> 140720905501912

In [105]:

print(l1,type(l1),id(l1))

[1.0, 'pavan', (5+5j), True, 'data', 10] <class 'list'> 2245251509504

In [98]:
l=[10,'data',True,5+5j,'pavan',1.0]
print(l,type(l),id(l))

[10, 'data', True, (5+5j), 'pavan', 1.0] <class 'list'> 2245251510016

In [100]:
l3=l[::-1]
print(l3,type(l3),id(l3))

[1.0, 'pavan', (5+5j), True, 'data', 10] <class 'list'> 2245249774784

**11.sort()**

* Syntax1:   listobj.sort()----->Used to Sort the data of list in Ascending Order
* Syntax2:   listobj.sort(reverse=False)----->Used to Sort the data of list in Ascending Order
* Syntax3:   listobj.sort(reverse=True)----------->Used to Sort the data of list in Decending Order

In [108]:
l1=[-2,10,20,50,-3,100,-100]
print(l1,type(l1),id(l1))

[-2, 10, 20, 50, -3, 100, -100] <class 'list'> 2245249797760

In [110]:
l1.sort()
print(l1,type(l1),id(l1))

[-100, -3, -2, 10, 20, 50, 100] <class 'list'> 2245249797760

In [111]:
l1.sort(reverse=False)
print(l1,type(l1),id(l1))

[-100, -3, -2, 10, 20, 50, 100] <class 'list'> 2245249797760

In [112]:
l1.sort(reverse=True)
print(l1,type(l1),id(l1))

[100, 50, 20, 10, -2, -3, -100] <class 'list'> 2245249797760

In [114]:
a=['pavan','san','innomatics','hyd','data','an']
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'data', 'an'] <class 'list'> 2245249797632

In [115]:
a.sort()
print(a,type(a),id(a))

['an', 'data', 'hyd', 'innomatics', 'pavan', 'san'] <class 'list'> 2245249797632

In [116]:
a.sort(reverse=True)
print(a,type(a),id(a))

['san', 'pavan', 'innomatics', 'hyd', 'data', 'an'] <class 'list'> 2245249797632

In [117]:
a

['san', 'pavan', 'innomatics', 'hyd', 'data', 'an']

In [118]:
a=['pavan','san','innomatics','hyd','data','an','ASR']
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'data', 'an', 'ASR'] <class 'list'> 2245251594432

In [119]:
a.sort()
print(a,type(a),id(a))

['ASR', 'an', 'data', 'hyd', 'innomatics', 'pavan', 'san'] <class 'list'> 2245251594432

In [122]:
a=['pavan','san','innomatics','hyd','d.sc','an','ASR']
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'd.sc', 'an', 'ASR'] <class 'list'> 2245250747072

In [123]:
a.sort()
print(a,type(a),id(a))

['ASR', 'an', 'd.sc', 'hyd', 'innomatics', 'pavan', 'san'] <class 'list'> 2245250747072

In [124]:
a=['pavan','san','innomatics','hyd','d.sc','an','ASR',10]
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'd.sc', 'an', 'ASR', 10] <class 'list'> 2245249781888

In [125]:
a.sort()
print(a,type(a),id(a))

TypeError: '<' not supported between instances of 'int' and 'str'

**12.extend()**

Syntax:    listobj1.extend(listobj2)
* This Function is used for adding the content of listobj2 to listobj1
* This Function can add only one list object content at a time to another list object but not multiple list objects.
* To extend multiple list objects at a time to list object, we use + operator
* Syntax: listobj1=listobj1+listobj2+....+listobj-n

In [133]:
a,b=[10,20,30],['pavan','data science']
print(a,b)

[10, 20, 30] ['pavan', 'data science']

In [134]:
a,id(a)

([10, 20, 30], 2245251597056)

In [135]:
b,id(b)

(['pavan', 'data science'], 2245249674432)

In [136]:
a.extend(b)
print(a,id(a))

[10, 20, 30, 'pavan', 'data science'] 2245251597056

In [138]:
print(b,id(b))

['pavan', 'data science'] 2245249674432

In [139]:
c=['python','java']
c

['python', 'java']

In [140]:
a.extend(b,c)
print(a)

TypeError: list.extend() takes exactly one argument (2 given)

In [141]:
d=a+b+c
print(d,type(d),id(d))

[10, 20, 30, 'pavan', 'data science', 'pavan', 'data science', 'python', 'java'] <class 'list'> 2245251617984

# INNER OR NESTED LIST

* The Process of Defining one list inside of another list is called Inner or Nested List
* Syntax:-  listobj=[ Val1, Val2....[Val11,Val12...Val1n], [Val21,Val22..Val2n...], Val-n ]


* Here Val1,Val2...Val-n are called Values of Outer List
* Here Val11,Val12...Val-1n are called Values of one Inner List
* Here Val21,Val22...Val-2n are called Values of another Inner List
* In inner list we can perform Both Indexing and Slicing Operations
* On Inner List, we can apply all pre-defined function of list.

In [164]:
s=[10,20,['list','inner'],[50,60],'if']
s

[10, 20, ['list', 'inner'], [50, 60], 'if']

In [165]:
s[0]

10

In [166]:
s[1]

20

In [167]:
s[2]

['list', 'inner']

In [168]:
s[3]

[50, 60]

In [169]:
s[4]

'if'

In [170]:
s[2].append(100)
s

[10, 20, ['list', 'inner', 100], [50, 60], 'if']

In [171]:
s[3].insert(2,'python')
s

[10, 20, ['list', 'inner', 100], [50, 60, 'python'], 'if']

In [172]:
s[2][:1]
s

[10, 20, ['list', 'inner', 100], [50, 60, 'python'], 'if']

In [173]:
s[-2][::-1]
s

[10, 20, ['list', 'inner', 100], [50, 60, 'python'], 'if']

In [174]:
s[2].clear()
s

[10, 20, [], [50, 60, 'python'], 'if']

In [175]:
s[2].append(10)
s

[10, 20, [10], [50, 60, 'python'], 'if']

In [176]:
s[2].append(20)
s

[10, 20, [10, 20], [50, 60, 'python'], 'if']

In [178]:
s1=[10, 20, [55, 25, 100,45,36,86], [50, 60, 69], 'if']
s1

[10, 20, [55, 25, 100, 45, 36, 86], [50, 60, 69], 'if']

In [181]:
s1[2][::-1]
s1

[10, 20, [55, 25, 100, 45, 36, 86], [50, 60, 69], 'if']

In [182]:
s1[2]

[55, 25, 100, 45, 36, 86]

In [183]:
s1[2][3:6]

[45, 36, 86]

In [184]:
s1[3][::-1]

[69, 60, 50]

# tuple():

### properties:

* 'tuple' is one of the pre-defined class and treated as List data Type.
* The purpose of tuple data type is that "To  store Multiple Values either of Same type or Different  Types or Both Types with Unique and Duplicates in single object (Constant Values)".
* The elements of tuple must be stored or organized within braces ( ) and Elements separated by comma.
* An object of tuple maintains Insertion Order 
* An object of tuple belongs to Immutable bcoz tuple' object does not support item assignment.
* On the object of tuple, we can perform both Indexing and Slicing Operations.
* In Python Programming, we have Two Types of tuple objects. They are
			1. empty tuple
			2. non-empty tuple

**1. Empty tuple:**

* An Empty tuple is one, which does not contains any elements and whose length is 0
* Syntax:  tplobj=( )
			OR
		   tplobj=tuple()

**2. Non-Empty tuple:**

=>An Non-Empty tuple is one, which  contains  elements and whose length > 0<br>
**Examples:**

			tplobj=( Val1,Val2,......val-n )
					(OR)
			tplobj=tuple(object)
					(OR)
			tplobj=val1,val2....val-n

**NOTE: It is always recommended to Choose tuple data type for representing OR Storing Constant Values.**

In [1]:
t1=(10,55,20,30,48,60,25)
print(t1,type(t1),id(t1))

(10, 55, 20, 30, 48, 60, 25) <class 'tuple'> 1640201469472

In [2]:
t2=(10,'pavan',True,5+5j)
print(t2,type(t2),id(t2))

(10, 'pavan', True, (5+5j)) <class 'tuple'> 1640201912704

In [3]:
t3=10,'info',2.5,True
print(t3,type(t3),id(t3))

(10, 'info', 2.5, True) <class 'tuple'> 1640201912864

In [4]:
t4=()
print(t4,type(t4))

() <class 'tuple'>

In [5]:
t=tuple()
print(t,type(t))

() <class 'tuple'>

In [7]:
t2

(10, 'pavan', True, (5+5j))

In [8]:
t2[0]

10

In [9]:
t2[-1]

(5+5j)

In [10]:
t2[2]=100

TypeError: 'tuple' object does not support item assignment